
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background: url("/Office-Site/images/hero-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    background-color: rgb(41, 40, 40);
}
header .nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1000px;
    
}
.nav .links{
    display: flex;
    gap: 40px;
}
.nav a{
    color:rgb(248, 242, 242);
    text-decoration: none;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}
.nav .logo{
    font-size: 2.1rem;
    font-weight: 600;
}
.nav .logo span{
    color: rgba(165, 42, 42, 0.858);
}
li{
    color: white;
    list-style: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}
li:hover{
    color: rgba(165, 42, 42, 0.858);
    letter-spacing: 1px;
}
.nav a:hover{
    color: rgba(165, 42, 42, 0.858);
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.main .content .H1{
    font-size: 3rem;
    overflow: hidden;
    border-right: 0.15em solid rgb(71, 32, 3);
    white-space: nowrap;
    animation: text 4s  infinite;
    -webkit-animation: text 4s  infinite;
}
@keyframes text{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.main .content .p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
.main .content{
    color: white;
    max-width: 600px;
    margin: 0;
    width: 100%;
}
.main .content button{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.main .content button:hover{
    background: rgba(165, 42, 42, 0.858); 
    color: white;
    letter-spacing: 1px;
    }
.product{
    padding: 8% 0%;
    width: 80%;
    margin: auto;
    text-align: center;
    color: chocolate;
    font-weight: 400;
    font-size: 25px;
}
.product p{
    color: gray;
    font-size: 20px;
    margin: 25px 0;
}
.row{
    display: flex;
}
.row img{
    width: 100%;
    height: 400px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    border: 2px solid;
}
.row img:hover{
   box-shadow: inset;
   box-shadow: 15px 10px 10px 5px rgb(73, 72, 72);
}
.col{
    flex-basis: 30%;
    margin: 0px 20px;
}
.col h3{
    text-align: left;
    padding-top: 2%;
    margin-left: 4%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(75, 35, 35);
}
.col p{
    text-align: left;
    margin-left: 0%;
    color: gray;
    font-size: 18px;
}
.footercontainer{
    background: url("/Office-Site/images/top-view-coffee-accessories-table.jpg")  no-repeat center center/cover;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    padding: 10px 0px;  
    margin-top: -5%;
}
.footercontainer1{
    background: url("/Office-Site/images/top-view-coffee-accessories-table.jpg")  no-repeat center center/cover;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    padding: 10px 0px;  
    margin-top: 7%;
}
.rowline{
    flex-basis: 15%;
}
.rowline ul{
    padding: 20% 0;
}
.rowline ul li a{
    list-style: none;
    color:rgb(245, 235, 235);
    padding: 17px 25px;
    font-size: 21px;
    text-decoration: none;

}
.heading{
    padding: 10px 0px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
}
.heading:hover{
    color: chocolate;
}
.footer2{
    color: gray;
    text-align: center;
    background-color: rgb(41, 40, 40);
    padding: 10px 20px;
}
h3{
    margin-top: 7%;
    text-align: center;
    font-size: 30px;
    color: rgb(67, 8, 8);
    font-weight: 500;
    margin-bottom: 3%;               
}
p{
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding: 10px   ;
}
.about h1{
    text-align: center;
    font-size: 30px;
    color: rgb(44, 3, 3);
    font-weight: 500;
}
.rowabout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colabout{
    flex-basis: 30%;
}
.colimg img{
    width: 80%;
    height: 300px;
}
a{
    text-decoration: none;
    color: #000;
}
.btn2{
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 150px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.btn2:hover{
    background: rgba(165, 42, 42, 0.858); 
    color: white;
    letter-spacing: 1px;
    }
.btn1{
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.btn1:hover{
    background: rgba(165, 42, 42, 0.858); 
    color: white;
    letter-spacing: 1px;
    }
.aboutpg{
    background: rgb(75, 35, 35);
    width: 100%;
    height: 50%;
}
.colabout p{
    color: rgb(224, 179, 123);
}
.colabout p:hover{
    text-shadow: 2px 2px brown;
}
.containerC{
    width: 100%;
    color: beige;
    background: url(/Office-Site/images/20943859.jpg) center center/cover;
    padding: 5%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 3%;
}
form{
    width: 45%;
    margin: auto;
   
}
form input{
    border-radius: 20px ;
    outline: none;
    display: block;
    background: whitesmoke;
    width: 100%;
    padding: 10px 20px;
    margin: 7px 20px;
    border: 2px black solid;
    -webkit-border-radius: 20px ;
    -moz-border-radius: 20px ;
    -ms-border-radius: 20px ;
    -o-border-radius: 20px ;
}
.button{
    display: flex;
    justify-content: space-around;

}
.btn3{
    padding: 5px;
    width: 75px;
     height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid burlywood;
    border-radius: 5px;
    background: rgb(132, 56, 2);
    color: aliceblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn3:hover{
    letter-spacing: 1px;
}
.footer2 img{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
}
